<head>
    <link rel="stylesheet" href="~/css/aboutStyle.css">
</head>

<body>
	<div class="heading">
        <h1 class="heading-text">𝑯𝒊ج𝒂𝒃 𝐒𝐭𝐨𝐫𝐞</h1>
        <br><br>
        <h2>About Us</h2>
      </div>



      <section class="slideshow">
          
        <div class="slideshow-slide">
            <div class="slideshow-content">
            <h2>HIJAB — Its the blessing and gift to a woman..</h2>
            </div>
          <img src="~/about img/banner1.webp">
        </div>

        <div class="slideshow-slide">
            <img src="~/about img/banner444.webp">
          </div>


        <div class="slideshow-slide">
          <div class="slideshow-content">
            <h2>Setting Jsut the Right Vibes This Eid With Our Hijabs</h2>
        
        </div>
          <img src="~/about img/banner3.webp">
        </div>

        <div class="slideshow-slide">
          <div class="slideshow-content">
        <h2>Gift Hijab Box to your Dearest One on This Eid..!</h2>
       
    </div>
          <img src="~/about img/banner555.webp">
        </div>
    </section>
</body>